<div class="wrapper row">
  <div class="col col-md-2 col-lg-1 col-xl-1 menu">
    <h1>{{title}}</h1>
    <ul class="main-menu" id="main-menu">
      <li><a routerLink="/" (click)="_activate($event)" class="active"><span class="lnr lnr-database"></span> Manage</a></li>
      <li><a routerLink="/request" (click)="_activate($event)"><span class="lnr lnr-layers"></span> Request</a></li>
      <li><a routerLink="/" (click)="_activate($event)"><span class="lnr lnr-eye"></span> Review</a></li>
    </ul>
  </div>
  <div class="col col-md-10 col-lg-11 col-xl-11 content">
    <router-outlet></router-outlet>
  </div>
</div>


