<div class="row">
  <div class="col col-md-3 search">
    <h2>Concepts</h2>
    <p>
      <input type="text" placeholder="Buscar término" />
    </p>
    <ul id="options">
      <li *ngFor="let item of items; let isFirstRow=first" [ngClass]="{'active' : isFirstRow}">
        <p (click)="_changeItem($event)" class="{{item.id}}"><span class="lnr lnr-code"></span> {{item.nombre}}</p>
      </li>
    </ul>
    <a href="#" (click)="_gotoEdit($event)" class="square_btn">Add new Key</a>
  </div>
  <div class="col col-md-9 wiki">
    <div class="wiki-content col col-md-10" id="contsection" *ngIf="selectedItem">
      <a href="#" class="square_btn left-side" (click)="_move($event)"><span class="lnr lnr-pencil"></span> Edit
        this</a>
      <h2 class="no-mb">{{selectedItem.nombre}}</h2>
      <p class="wiki-des">(Literal: {{selectedItem.nombre}})</p>
      <h4>Description</h4>
      <p>{{selectedItem.description}}</p>
      <h4>Type</h4>
      <p>{{selectedItem.type}}</p>
      <h4>Sensitivity</h4>
      <p *ngIf="selectedItem.sensitivity">
        This is personal data, and can not be distributed in RAW form.
      </p>
      <p *ngIf="!selectedItem.sensitivity">
        This is not personal data, you can distribute it in RAW form.
      </p>
      <h2 class="wiki-content-subtitle">Possible values</h2>
      <div class="wiki-values head">
        <p>Value</p>
        <p>Decription</p>
      </div>
      <div class="wiki-values" *ngFor="let value of values">
        <p>{{value.key}}</p>
        <p>{{value.value}}</p>
      </div>
      <a href="#" class="square_btn" (click)="_add($event)"><span class="lnr lnr-frame-contract"></span> Add possible value</a>
    </div>

    <div class="wiki-content col col-md-10 floating" id="editsection" *ngIf="selectedItem">
      <form class="create-form" [formGroup]="fireForm" novalidate (ngSubmit)="onSubmit(fireForm.value)">
        <!-- <a href="#" class="square_btn left-side" (click)="_save($event)"><span class="lnr lnr-lock"></span> Save</a> -->
        <button class="square_btn left-side" color="primary" type="submit"><span class="lnr lnr-lock"></span>
          Save</button>
        <h2 class="no-mb">Edit element</h2>
        <p class="wiki-des">(Element: {{selectedItem.nombre}})</p>
        <h4>Key Name</h4>
        <p>
          <input type="text" placeholder="{{selectedItem.nombre}}" formControlName="nombre" />
        </p>
        <h4>Description</h4>
        <p>
          <textarea formControlName="description" placeholder="{{selectedItem.description}}"></textarea>
        </p>
        <h4>Type</h4>
        <p>
          <select formControlName="type">
            <option *ngFor="let value of values">{{value.key}}</option>
          </select>
        </p>

        <h4>Sensitivity</h4>
        <p>
          <input type="checkbox" formControlName="sensitivity" /> is this personal data?
        </p>

        <h2 class="wiki-content-subtitle">Possible values</h2>
        <div class="wiki-values head">
          <p>Value</p>
          <p>Decription</p>
        </div>
        <div class="wiki-values" *ngFor="let value of values">
          <p>{{value.key}}</p>
          <p>{{value.value}}</p>
        </div>
      </form>
    </div>
  </div>
</div>